body {
    font-family: 'Roboto Mono', monospace;
    background-color: #EEEEEE;
}

.App {
    height: 100vh;
}

.App-header {
    height: 5rem;

}

.App-footer {
    position: fixed;
    bottom: 0;
}