/*NAVBAR BUTTONS*/
.nav-link {
    padding: 7px 0;
    margin-left: auto;
    width: 100%;
    text-align: center;
    background-color: #222222;
    color: #EEEEEE;
    border-color: #222222;
    border-width: 0;
    font-size: 1.5rem;
}

.nav-link:hover {
    background-color: #1271ED;
    color: white;
}

.nav-link:nth-child(2n) {
    border-left: 2px solid #EEEEEE;
    border-right: 2px solid #EEEEEE;
}

/*MAIN CONTENT PAGE BUTTONS*/
.create-acc-btn {
    background-color: #222222;
    color: #EEEEEE;
    border-color: #222222;
    border-width: 0;
    font-size: 1.5rem;
    padding: 12px 20px;
}

