.create-btn {
    color: #FFFFFF;
    background-color: #0F5190;
    border-color: #0F5190;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 1.5rem;
}
#logo {
    height: 5rem;
    width: 10rem;

}

.example-card {
    text-align: center;
}
#right-hand,#left-hand {
    /*width: 555px;*/
    height: 750px;
    margin-top: 80px;
}
