.create-btn {
    color: #FFFFFF;
    background-color: #0F5190;
    border-color: #0F5190;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 1.5rem;
}

.example-card {
    text-align: center;
}
