.navbar {
    background-color: #222;
    height: 5rem;
    padding: 0 0 0 0;
}

#navbar-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.collapse-btn {
    background-color: #FFFFFF;
}

.navbar-toggler-container {
    padding-right: 1rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-option, .nav-link {
    color: #FFFFFF;
    padding: 0 0 0 1rem;
}

#navbarSupportedContent {
    width: 30rem;
}

/*NAVBAR BUTTONS ON TOP*/
.nav-link {
    padding: 7px 0;
    margin-left: auto;
    width: 100%;
    text-align: center;
    background-color: #222222;
    color: #EEEEEE;
    border-color: #222222;
    border-width: 0;
    font-size: 1.5rem;
}

.nav-link:nth-child(2n) {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.nav-link:hover {
    background: #6366F1;
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}

/*NAV BUTTONS - DIFF DEVICES SIZE*/
@media screen and (max-width: 991px )  {
    .nav-link:nth-child(2n)  {
        border: none;
    }
}

