.select-profile-btn  {
    background-color: #222222;
    color: #EEEEEE;
    border-color: #222222;
    border-width: 0;
    font-size: 1.5rem;
    padding: 12px 20px;
    text-decoration: none;
    position: relative;
    top: 45%;
}

.select-profile-btn:hover {
    color: #EEEEEE;
    background: #6366F1;
}

@media screen and (min-width: 300px ) and ( max-width: 600px) {
    .select-profile-btn{
        display: block;
    }
}